@{
    ViewBag.Title = "Reset Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email for reset code.
    </p>
    <br />
    <p>Click here to @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) again.</p>
</div>

