@using System.Collections
@using GDHOTE.Hub.CoreObject.DataTransferObjects
@using GDHOTE.Hub.CoreObject.ViewModels

<ul class="sidebar-menu" data-widget="tree">

    <!-- Optionally, you can add icons to the links -->
    @{
        IEnumerable<MainMenuResponse> mainMenus = ViewBag.MainMenu;
        IEnumerable<RoleMenuViewModel> subMenus = ViewBag.SubMenu;
        var deployedName = ViewBag.DeployedAppName;

        if (mainMenus != null)
        {
            <li class="header">MENU</li>
            foreach (var mainMenu in mainMenus)
            {
                var childrenMenu = subMenus.ToList().Where(s => s.MenuId == mainMenu.Id).OrderBy(s => s.DisplaySequence);
                if (childrenMenu.Any())
                {
                    @:<li class="treeview">
                        @:<a href="#">
                            <i class="fa fa-link"></i> <span>@mainMenu.Name</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        @:</a>
                        @:<ul class="treeview-menu">
                            foreach (var child in childrenMenu)
                            {
                                @:<li><a href="@deployedName@child.SubMenuUrl">@child.SubMenu</a></li>
                            }
                        @: </ul>
                    @:</li>
                }
            }
        }

    }
</ul>
