@model List<GDHOTE.Hub.Core.Models.PaymentMode>

@{
    ViewBag.Title = "PaymentModeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mode of Payment</h2>

<p>
    @Html.ActionLink("New Payment Mode", "New", "PaymentMode", null, new { @class = "result-list-button" })
</p>


@if (Model == null)
{
    <p>No record(s) found</p>
}
else
{
    <div>
        <table id="paymentmodes" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var paymentMode in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(paymentMode.Description, "Edit", "PaymentMode", new { id = paymentMode.PaymentModeId }, null)</td>
                        <td>@paymentMode.Status</td>
                        <td><button data-paymentmode-id="@paymentMode.PaymentModeId" class="btn btn-link js-delete">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#paymentmodes").DataTable();

            $("#paymentmodes").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to proceed?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "../api/v1/hub/payment/delete-payment-mode?id=" + button.attr("data-paymentmode-id"),
                            method: "DELETE",
                            success: function () {
                                swal({
                                    title: "Success",
                                    text: "success",
                                    type: "success"
                                });

                                button.parents("tr").remove();
                            }
                        });
                    }
                });

            });
        });
    </script>
}
