<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="settings.config.use.live" value="Y" />
    <add key="settings.organisation.name" value="GDHOTE" />
    <add key="settings.deployed.app.path" value="/Gdhote" />
    <add key="settings.email.template.folder" value="EmailTemplates" />
    <add key="settings.file.upload.folder" value="Uploads" />
    <!--<add key="settings.api.baseurl" value="http://purplesclothier.com/gdhotecore" />-->
    <add key="settings.api.baseurl" value="http://localhost/gdhotecore" />
    <add key="settings.service.username" value="abrabfun@yahoo.com" />
    <add key="settings.service.password" value="1" />
    <add key="settings.refresh.token.url" value="/auth/token" />
    <add key="settings.service.run.time" value="8:00|23:00" />
  </appSettings>
</configuration>