

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Transactions</h2>


<div id="loadDiv" style="display: none; background-color: rgba(0, 0, 0, 0.3); position: fixed; top: 0px; left: 0px; z-index: 999; height: 100%; width: 100%;">
    <p align="center" style="margin-top: 20%">
        <img src="~/images/download.gif" />
    </p>
</div>


@using (Ajax.BeginForm("FetchReportByDate", "Payment", null, new AjaxOptions
{
    HttpMethod = "POST",
    LoadingElementId = "loadDiv",
    //OnSuccess = "SuccessMessage",
    //OnFailure = "FailMessage",
    UpdateTargetId = "transactionsData"
}))
{
    <div>
        @Html.AntiForgeryToken()
    </div>
    <div>
        <div class="form-group">
            <label id="lbl-start-date">Start Date</label>
            <input id="start-date" name="startdate" type="text" />
            <label id="lbl-end-date">End Date</label>
            <input id="end-date" name="enddate" type="text" />
            <button type="button" id="btn-fetch" class="btn btn-primary">Fetch</button>
            <button id="cmd-fetch" class="btn btn-primary" style="display:none">Fetch</button>
            <br />
        </div>
    </div>
}


<div id="transactionsData">
    @Html.Partial("_TransactionReport")
</div>


@section scripts
{
    <script>

        $(document).ready(function () {

            $(function () {
                $('#start-date, #end-date').datepicker({
                    format: 'dd-M-yyyy',
                    autoclose: 1,
                    todayHighlight: 1
                });
            });

            $("#btn-fetch").button().click(function () {
                var startDate = $("#start-date").val();
                var endDate = $("#end-date").val();
                if (startDate === '') {
                    alert('Please select a Start Date');
                    return;
                }

                if (endDate === '') {
                    alert('Please select a End Date');
                    return;
                }

                $("#cmd-fetch").click();
            });




        });


    </script>
}